/* need to be solved: */
/* member padding bottom 2px auto */

* {
	margin:  0;
	padding: 0;
	font-family: '宋体', sans-serif, Verdana, Arial, Helvetica;
}
body {
	border: 1px solid #999;
	padding: 19px 19px;
	/* to meet the designed jpg file */
}
.wrap {
	background-color: #eee;
	border: 1px solid #999;
	padding: 19px;
	/* as required, should be 20px */
	overflow: auto;
}
.team {
	width: 152px;
	/* 200-1-20-20-1=158,  */
	background-color: white;
	border: 1px solid #999;
	padding: 19px;
	/* 80x80 can meet, default value 20px */
	overflow: auto;
	float: left;
}

.team img {
	width: 78px;
	height: 78px;
	border: 1px solid #999;
	float: left;
}

.team span {
	font-size: 14px;
	line-height: 14px;
	float: right;
}

.intro {
	background-color: white;
	border: 1px solid #999;
	margin-left: 212px;
	margin-right: 138px;
	/* start from parent wrap padding */
	padding: 17px;
}

.intro p {
	line-height: 1em;
	font-size: 0.75em;
	margin: 2px 0 12px;
}

.member {
	background-color: white;
	border: 1px solid #999;
	width: 82px; 
	/* 80+1+1=82 */
	/* height: auto; */
	padding:19px 18px 18px;
	/* 80x80 can not meet so 120-2-80-2=18 */
	float: right;
}
.member img{
	width: 79px;
	height: 78px;
	border: 1px solid #999;
	margin: 0 0 10px; 
	/* space btw img is not 20 */
}
.member .last {
	margin-bottom: 2px;
}