/* aspects that can be updated: */
/* 1. list circle */
/* 2. header right_most color */
/* 3. para indentation */
/* 4. small images */
/* 5. table border */
/* 6. | style*/
/* 7. textarea vs center */

* {
	/* padding: 0;  affect list circle  */
	font-family: Helvetica, sans-serif;
	margin: 0;
}

header {
	background-color: rgba(0, 0, 0, 0.8);
}
header img{
	margin: 5px;
	padding: 10px 40px;
}

header a {
	color: white;
	font-size: 9px;
	text-decoration: none;
}
header a span {
	color: grey;
}	

header ul li {
	display: inline-block;
	list-style: square;
	/*Q1:  circle disapper */
}

header nav {
	float: right;
	margin: 15px 5px;
	padding: 10px 15px;
} 

#main {
	background-color: #d9d9d9;
	border: 1px solid #d9d9d9;
	width: 100%;
}	
.box {
	background-color: #fdfdfd;
	border-right: 3px solid #999; 
	border-bottom: 3px solid #999; 
	margin: 20px;
	padding: 40px 20px 20px 20px;
}

h3,h6 {
	color: grey;
	line-height: 2.5em;
}

p {
	line-height: 2em;
}

#sec li{
	list-style: none;
}

div.photo {
	width: 200px;
	text-align: center;
	border: 1px solid #999;
	margin: 20px;
}

table {
	width: 100%;
}

table tr th,td{
	text-align: left;
	border: 0;
	padding: 5px 10px;
}
table thead {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}
table  {
	/* border: 1px solid #999; */
	/*Q2: border! */
}
table tfoot {
	background-color: #999;
}

#form {
	border: 0;
	text-align: center;
}
#form .item_left {
	text-align: right;
}
#form .item_right {
	font-size: 10px;
	color: grey;
	text-align: left;
}

#btn {
	background-color: royalblue;
	color: white;
	text-align: center;
	border-radius: 10px;
	margin: 0;
}
#btn > p {
	padding: 5px 10px;
}

footer {
	background-color: rgb(0, 0, 0);
	color: white;
	text-align: center;
}

footer > p {
	padding: 30px;
	font-size: 9px;
}